body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    margin: 0;
    text-align: center;
}

header {
    padding: 80px 20px 50px;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

header p {
    color: #aaa;
    font-size: 18px;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background: #1c1c1c;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #333;
}

.card:hover {
    transform: translateY(-5px);
}

footer {
    margin-top: 80px;
    padding: 30px;
    color: #666;
}
